body {
  background-color: black;
  color: white;
  font-size: 24px;
}
.fs12 {
  font-size: 12px;
}
.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;
}
.fs20 {
  font-size: 20px;
}
.fs22 {
  font-size: 22px;
}
.fs24 {
  font-size: 24px;
}
.fs40 {
  font-size: 40px;
}
.fs50 {
  font-size: 50px;

}
#logo {
  width: 20%;
  height: auto;
  margin: 40px 40% 5px 40%;
  border-radius: 50%;
}
#slogan {
  margin-top: 40px;
}
.banner {
  margin-top: 20px;
}
.banner img {
  height: 200px;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 8px;
}
#header {
  background-image: url("../assets/backgrounds/pizza10.jpg");
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
}
@media (min-width: 1200px) {
  .container{
      max-width: 90%;
  }
}
h2 {
  text-align: center;
}
.form-group {
width: 100%;
}
form {
  text-align: center;
}
#ask,#locate,#checkOut, #userInfo, #checkoutUser1,#checkouAlertOne,#confirmAlert,#locationAlert {
  margin: 40px 15% 15px 15%;
  display: none;
}
#pizzaOrder,#orderTable,#mc_embed_signup {
  margin: 40px 15% 15px 15%;
}
.alert {
  display: none;
}
.btn-success, .btn-primary, .btn-warning {
  width: 300px;
  height: 60px;
  margin: 15px;
}
label {
font-size: 24px;
}
.view-order,#orderTable{
  display: none;
}
.view-order {
  text-align: center;
  text-align: center;
}
#icon {
  float: left;
}
#menu ul {
  list-style: none;
  padding-top: 30px;
}
#menu ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
#menu ul li a:hover {
  color: white;
  background-color: #C0CF4D;
  padding: 15px;
}
#footer {
  background-color: #333333;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  margin-top: 30px;
}
#social ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}
#social ul li {
  list-style: none;
  margin-left: 20px;
}
#signup_scroll {
  text-align: left;
}
#signup_scroll .text-centre {
  text-align: center;
}
@media (max-width: 780px) {
  .banner img {
    height: auto;
    border-radius: 8px;
  }
  .btn-success, .btn-primary, .btn-warning {
    width: 90%;
    height: 60px;
    margin: 15px;
  }
  .container{
    max-width: 100%;
}
#ask,#locate,#checkOut, #userInfo, #checkoutUser1,#checkouAlertOne,#confirmAlert,#locationAlert {
  margin: 30px 5% 5px 5%;
  display: none;
}
#pizzaOrder,#orderTable {
  margin: 30px 5% 5px 5%;
}
}

@media screen  and (min-width:0px) and (max-width: 500px) {
  
}
@media screen  and (min-width:500px) and (max-width: 1000px) {
  .banner img {
    height: auto;
    border-radius: 8px;
    margin: 15px 0px 0px 0px;
  }
  .btn-success, .btn-primary, .btn-warning {
    width: 60%;
    height: 60px;
    margin: 15px;
  }
  .container{
    max-width: 90%;
  }
  #ask,#locate,#checkOut, #userInfo, #checkoutUser1,#checkouAlertOne,#confirmAlert,#locationAlert {
    margin: 30px 10% 10px 10%;
    display: none;
  }
  #pizzaOrder,#orderTable {
    margin: 30px 10% 10px 10%;
  }
}