.fs12 {
  font-size: 12px;
}
.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;
}
.fs20 {
  font-size: 20px;
}
.fs22 {
  font-size: 22px;
}
.fs24 {
  font-size: 24px;
}
.fs40 {
  font-size: 40px;
}
.fs50 {
  font-size: 50px;

}
body {
  background-color: rgb(65,69,72);
}
#logo {
  width: 20%;
  height: auto;
  margin: 160px 40% 5px 40%;
  border-radius: 50%;
}
#slogan {
  margin-top: 50px;
}
#header {
  background-image: url("../assets/backgrounds/pizza10.jpg");
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
}
@media (min-width: 1200px) {
  .container{
      max-width: 1460px;
  }
}

form {
  margin: 10px 20% 10px 20%;
  align-items: center;
}
#mce-responses {
  display: none;
}
input[type=text], input[type=email] {
  width: 100%;
  margin-bottom: 10px;
  color: white;
  background-color: unset;
  border: 1px solid white;
}

::placeholder {
  color: white;
  opacity: 1;
}
button {
  width: 40%;
  margin: 20px 30% 0px 30%;
  margin-bottom: 10px;
  color: white;
  background-color: unset;
  border: 1px solid white;
}

@media (max-width: 780px) {
 
}
@media screen  and (min-width:0px) and (max-width: 500px) {
  
}
@media screen  and (min-width:500px) and (max-width: 1000px) {
 
}